body {
  background-color: black;
}

.button {
  background-color: #360ccc;
  margin: 0.1rem;
  border: 0;
  padding: 0.7rem;
}

.navi {
  background-color: #6a0dad;
}

.naver {
  display: flex;
  justify-content: flex-end;
}
