body {
  background-color: black;
}

.title {
  font-size: xx-large;
  font-family: "Righteous", cursive;
}

.button {
  background-color: #360ccc;
  border: 0;
  padding: 0.7rem;
}

.navi {
  background-color: #6a0dad;
}

.naver {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  list-style: none;
}
